* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

html {
  width: 100%;
  height: 100%;
}

nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: lightsalmon;
}

main {
  background-color: lightsalmon;
  justify-content: center;
}

footer {
  background-color: rebeccapurple;
  padding: 20px;
}

.portfolio {
  background-color: rebeccapurple;
  color: lightsalmon;
  font-size: 20px;
  margin: auto;
  text-align: left;
  padding: 30px;
}

.first {
  width: 70%;
  position: static;
  padding: 10px;
  margin: auto;
}

.first img {
  padding: 10px;
}

.second {
  width: 50%;
  position: static;
  padding: 10px;
  margin: auto;
}

.secondb {
  width: 50%;
  position: static;
  padding: 10px;
  margin: auto;
}

.third {
  width: 50%;
  position: static;
  padding: 10px;
  margin: auto;
}

.forth {
  width: 50%;
  position: static;
  padding: 10px;
  margin: auto;
}

.fifth {
  width: 50%;
  position: static;
  padding: 10px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  background-color: lightsalmon;
  color: black;
  padding: 30px;
}
