:root {
  --dark: rebeccapurple;
  --dark-mid: #36454f;
  --light-mid: #bdb5bd;
  --light: #c0c0c0;
}

html {
  background-color: var(--light-mid);
  font-size: 16px;
}

body {
  display: flexbox;
}

h1 {
  background-color: var(--dark);
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
}

h2,
h3,
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

header {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: left;
  padding: 0.5rem 1rem;
}

header > nav > ul {
  list-style-type: none;
  display: inline-flex;
}

header > nav > ul > li::after {
  content: "|";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#about-me {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 50px;
  margin-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

#work {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

#contact-me {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: var(--light);
}

.grid-work {
  flex: 1;
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container {
  flex: 2;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  flex-direction: column;
}
